<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">
        Manage your 3D prints
    </a>

    <ul class="navbar-nav mr-auto">
        
        <li class="nav-item">
            <a class="nav-link" href="/admin/filament">Filaments</a>
        </li>
        
        <li class="nav-item">
            <a class="nav-link" href="/admin/resin">Resin</a>
        </li>
        
        <li class="nav-item">
            <a class="nav-link" href="/admin/threeDPrinters">3D printers</a>
        </li>
          
        <li class="nav-item">
            <a class="nav-link" href="/admin/projects">Printed Objects</a>
        </li>
        
    </ul>
</nav>